:host {
  display: block;
  height: 100%;
}
.users {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 16px;
}
.users__title {
  font-size: 44px;
  font-weight: 300;
  line-height: 1.27;
  color: #000000;
  margin-bottom: 12px;
}
.users__list {
  list-style: none;
  margin-top: 12px;
  height: 100%;
}
.user {
  margin: 8px;
}
.user__link {
  text-decoration: none;
  color: #000;
}
.user__link:hover {
  color: #448af1;
}
.user__avatar,
.user__name {
  vertical-align: middle;
}
.user__avatar {
  width: 80px;
  height: 80px;
}
.user__name {
  margin-left: 8px;
}
