<div class="users">
  <h1 class="users__title">Список пользователей бота: [Имя бота]</h1>
  <virtual-scroll class="users__list" [items]="users" (update)="viewPortItems = $event" (end)="fetch($event)">
    <div *ngFor="let user of viewPortItems" class="user">
      <a routerLink="/users/{{user.id}}" class="user__link">
        <img src="{{user.avatarUrl}}" alt="{{user.name}}" class="user__avatar">
        <span class="user__name">{{user.name}}</span>
      </a>
    </div>
    <div *ngIf="loading" class="loader">Загрузка...</div>
  </virtual-scroll>
</div>
