:host {
  display: block;
}
.user {
  text-align: center;
  padding: 24px 16px;
}
.user__avatar {
  display: block;
  margin: 0 auto 40px;
}
.user__name,
.save {
  vertical-align: middle;
}
.user .loader {
  line-height: 0;
}

.save {
  cursor: pointer;
}

.info {
  margin-top: 24px;
}
