<div *ngIf="user" class="user">
  <img src="{{user.avatarUrl}}" alt="{{user.name}}" class="user__avatar">
  <input [(ngModel)]="user.name" class="user__name">
  <button (click)="save()" class="save">Сохранить</button>
  <div *ngIf="saving" class="info">Сохранение...</div>
</div>
<div *ngIf="loading" class="loader">Загрузка...</div>
