/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

input, button {
  padding: 8px 16px;
  background: none;
  outline: none;
  border: 1px solid #000;
  font-size: 14px;
}

.loader {
  height: 4em;
  display: block;
  line-height: 4em;
  text-align: center;
  position: relative;
}
.loader:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: red;
  -webkit-animation: loader-animation 2s ease-out infinite;
  animation: loader-animation 2s ease-out infinite;
}

@keyframes loader-animation{
  0%{
    left: 0
  }

  100%{
    left: 100%
  }
}

@-o-keyframes loader-animation{
  0%{
    left: 0
  }

  100%{
    left: 100%
  }
}

@-ms-keyframes loader-animation{
  0%{
    left: 0
  }

  100%{
    left: 100%
  }
}

@-webkit-keyframes loader-animation{
  0%{
    left: 0
  }

  100%{
    left: 100%
  }
}

@-moz-keyframes loader-animation{
  0%{
    left: 0
  }

  100%{
    left: 100%
  }
}

